<%- include('../partials/header') %>

<body class="change-credentials-page">
    <div class="main-container">

        <%- include('../partials/navbar') %>

        <h1>Change Credentials</h1>
        <form id="updateUserForm" method="POST" enctype="multipart/form-data" data-user-id="<%= user._id %>">
            <input type="hidden" name="userId" value="<%= user._id %>">
            <div class="custom-file-upload">
                <label for="profilePic">
                    <img id="profilePicPreview" src="data:<%= user.profilePicture.contentType %>;base64,<%= user.profilePicture.data.toString('base64') %>" alt="<%= user.name %>">
                </label>
                <input id="profilePic" type="file" name="image" accept="image/*" onchange="previewImage(event)">
            </div>
            <input type="text" name="name" value="<%= user.name %>" placeholder="Name">
            <input type="email" name="email" value="<%= user.email %>" placeholder="Email">
            <input type="password" name="currentPassword" placeholder="Current Password">
            <input type="password" name="newPassword" placeholder="New Password">
            <input type="password" name="confirmPassword" placeholder="Confirm New Password">
            <button class="full-width" type="submit">Update Credentials</button>
        </form>
    </div>

    <%- include('../partials/footer') %>
    
    <script src="/js/userMenu.js"></script>
    <script src="/js/reload.js"></script>
    <script src="/js/previewImage.js"></script>
    <script src="/js/updateUser.js"></script>
    <script src="/socket.io/socket.io.js"></script>
</body>
</html>