<%- include('../partials/header') %>

<body class="dashboard-page">
    <div class="main-container">

        <%- include('../partials/navbar') %>

        <div class="dashboard-section">
            <div class="container">

                <div class="user-details">
                    <p><strong>E-mail:</strong> <%= user.email %></p>
                    <p><strong>Role:</strong> <%= _.capitalize(user.role) %></p>
                    <p><strong>Created at:</strong> <%= user.createdAt %></p>
                </div>

                <div class="albums-display">
                    <% if (albums.length > 0) { %>
                        <div class="albums-slider">
                            <% albums.forEach(album => { %>
                                <div class="album">
                                    <img src="data:<%= album.image.contentType %>;base64,<%= album.image.data.toString('base64') %>" alt="<%= album.title %>">
                                    <h3><%= album.title %></h3>
                                    <h4><%= album.genre %></h4>
                                    <p><%= album.artist %></p>
                                    <button class="delete-button" onclick="deleteAlbum('<%= album.title %>')"><i class="fa-solid fa-trash" style="color: #000000;"></i></button>
                                    <button class="update-button" onclick="location.href='/update-album/<%= album._id %>'"><i class="fa-solid fa-pen-to-square" style="color: #ffffff;"></i></button>
                                </div>
                            <% }) %>
                        </div>
                    <% } else { %>
                        <p>No albums found.</p>
                    <% } %>
                </div>


                <button class="dashboard-album-button" onclick="location.href='/add-album'">Upload Album</button>
                <button class="dashboard-studio-button" onclick="location.href='/add-studio-session'">Plan Studio Session</button>

                <div class="sessions-display">
                    <% if (sessions.length > 0) { %>
                        <div class="sessions-slider">
                            <% sessions.forEach(session => { %>
                                <div class="session">
                                  <i class="fa-solid fa-microphone" style="color: #000000;"></i>
                                  <button class="join-room" data-room-id="<%= session._id %>" data-session-date="<%= session.formattedDate %>">Join Chat</button>
                                  <h3><%= session.title %></h3>
                                  <h4><%= session.formattedDate %></h4>
                                  <p><%= session.details %></p>
                                </div>
                            <% }) %>
                        </div>
                    <% } else { %>
                        <p>No studio sessions found.</p>
                    <% } %>
                </div>


                <div class="chat">
                    <div class="chat-messages">
                      <h2 id="welcome-message">Welcome to Chat!</h2>
                    </div>
                    <form id="chat-form" data-user-role="<%= user.role %>">
                      <input type="text" id="message-input" placeholder="Type a message...">
                      <button type="submit">Send</button>
                    </form>
                    <button id="leave-room">Leave Room</button>
                  </div>
            </div>
        </div>
    </div>

    <%- include('../partials/footer') %>
    
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
    <script src="/js/userMenu.js"></script>
    <script src="/js/userChat.js"></script>
    <script src="/js/reload.js"></script>
    <script src="/js/deleteAlbum.js"></script>
</body>
</html>