<%- include('../partials/header') %>

<body class="main-page">
    <div class="main-container">

        <%- include('../partials/navbar') %>

        <div class="background">
            <div class="search-section">
                <h1>Welcome to <span>TrackTrail<span>™</span>!</span></strong></h1>
                <p>Explore and manage music effortlessly</p>
                <input type="search" name="search" placeholder="Search for artists, albums, tracks...">
                <div class="artist-buttons">
                    <button class="button-album" onclick="location.href='/add-album'">Upload Album</button>
                    <button class="button-studio" onclick="location.href='/studio-session'">Plan Studio Session</button>
                </div>
            </div>
        </div>

        <div class="albums-section">
            <div class="albums">
                <h2>Latest Albums</h2>
                <% albums.forEach(album => { %>
                    <div class="album">
                        <img src="data:<%= album.image.contentType %>;base64,<%= album.image.data.toString('base64') %>" alt="<%= album.title %>">
                        <h3><%= album.title %></h3>
                        <p><%= album.artist %></p>
                    </div>
                <% }) %>
            </div>
        </div>

        <div class="studio-sessions-section">
        </div>

    </div>

    <%- include('../partials/footer') %>

    <script src="/js/userMenu.js"></script>
</body>
</html>