<%- include('../partials/header') %>

<body class="main-page">
    <div class="main-container">
        <nav class="navbar">
            <div class="logo-nav">
                <img src="/images/trackTrails.svg" alt="Logo">
            </div>
            <ul class="nav-links">
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/albums">Albums</a></li>
                <li><a href="/studio-sessions">Studio Sessions</a></li>
            </ul>

            <div class="user-icon-container">
                <a href="#" id="user-icon"><i class="fa-solid fa-user" style="color: #000000;"></i></a>
                <p>Logged in as: <strong><%= user.email %></strong></p>
            </div>
            <div id="user-menu">
                <a href="/auth/change-credentials">Change Credentials</a>
                <a href="/auth/logout">Logout</a>
            </div>
        </nav>

        <div class="background">
            <div class="search-section">
                <h1>Welcome to <span>TrackTrail<span>™</span>!</span></strong></h1>
                <p>Explore and manage music effortlessly</p>
                <input type="search" name="search" placeholder="Search for artists, albums, tracks...">
                <div class=""></div>
            </div>
        </div>

        <div class="albums-section">
            <div class="albums">
                <h2>Latest Albums</h2>
                <% albums.forEach(album => { %>
                    <div class="album">
                        <img src="data:<%= album.image.contentType %>;base64,<%= album.image.data.toString('base64') %>" alt="<%= album.title %>">
                        <h3><%= album.title %></h3>
                        <p><%= album.artist %></p>
                    </div>
                <% }) %>
            </div>
        </div>

        <div class="studio-sessions-section">
        </div>

        <div class="chat">
            <i class="fa-solid fa-comment" style="color: #000000;"></i>
        </div>

    </div>

    <%- include('../partials/footer') %>

    <script src="/js/userMenu.js"></script>
</body>
</html>