<%- include('../partials/header') %>

<body class="sessions-page">
    <div class="main-container">

        <%- include('../partials/navbar') %>

        <div class="sessions-container">
            <h1>All Studio Sessions</h1>
            <button class="studio-button" onclick="location.href='/add-studio-session'">Plan Session</button>

            <div class="filter-container">
                <select id="artistFilter">
                    <option value="">All Artists</option>
                    <% artists.forEach(artist => { %>
                        <option value="<%= artist %>"><%= artist %></option>
                    <% }) %>
                </select>

                <div class="dates-filter">
                    <label for="startDate">From:</label>
                    <input type="date" id="startDate">
                </div>
                <div class="dates-filter">
                    <label for="endDate">To:</label>
                    <input type="date" id="endDate">
                </div>
            </div>

            <div class="sessions" id="sessions">
                <% sessions.forEach(session => { %>
                    <div class="session">
                        <button class="join-room" onclick="location.href='/dashboard?room=<%= session._id %>&date=<%= session.formattedDate %>'">Join Chat</button>
                        <div class="session-header">
                            <i class="fa-solid fa-microphone" style="color: #000000;"></i>
                            <p><strong>Artist: </strong><%= session.artist %></p>
                        </div>
                        <div class="session-body">
                            <p><strong>Details: </strong><%= session.details %></p>
                            <p><strong>Duration: </strong><%= session.duration %> min</p>
                            <p><strong>Date: </strong><%= session.date %></p>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>

    </div>

    <%- include('../partials/footer') %>
    
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
    <script src="/js/userMenu.js"></script>
    <script src="/js/reload.js"></script>
    <script src="/js/sessionsFilter.js"></script>
    <script src="/js/userChat.js"></script>
    <script src="/socket.io/socket.io.js"></script>
</body>
</html>