<%- include('../partials/header') %>

<body class="update-session-page">
    <div class="main-container">

        <%- include('../partials/navbar') %>

        <h1>Update Session</h1>
        <form id="updateSessionForm" method="post" action="/api/studio-session/update-session/<%= session._id %>" enctype="multipart/form-data">
            <input type="hidden" name="_method" value="PUT">
            <input type="date" name="date" value="<%= session.date.toISOString().split('T')[0] %>" placeholder="Date" required>
            <input type="number" name="duration" value="<%= session.duration %>" placeholder="Duration" required>
            <input type="text" name="details" value="<%= session.details %>" placeholder="Details" required>
            <button class="full-width" type="submit">Update</button>
        </form>
    </div>

    <%- include('../partials/footer') %>
    
    <script src="/js/userMenu.js"></script>
    <script src="/js/reload.js"></script>
    <script src="/socket.io/socket.io.js"></script>
</body>
</html>